/* nfl dolphins typeface */
@font-face {
  font-family: 'NFL Dolphins';
  src: url('fonts/nfl-dolphins.woff2') format('woff2'),
       url('fonts/nfl-dolphins.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* general */

:root {
  /* gray */
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-800: #1f2937;
  --gray-900: #111827;
  /* sky blue */
  --sky-050: #eff6ff;
  --sky-100: #dbeafe;
  --sky-200: #bfdbfe;
  --sky-300: #7dd3fc;
  --sky-400: #38bdf8;
  --sky-500: #0ea5e9;
  --sky-600: #0284c7;
  --sky-700: #0369a1;
  --sky-800: #075985;
  --sky-900: #0c4a6e;
  --sky-950: #082f49;
  --sky-975: #041926;
  /* blue */
  --blue-100: #dbeafe;
  --blue-200: #bfdbfe;
  --blue-300: #93c5fd;
  --blue-400: #60a5fa;
  --blue-500: #3b82f6;
  --blue-600: #2563eb;
  --blue-700: #1d4ed8;
  --blue-800: #1e40af;
  --blue-900: #1e3a8a;
  --blue-950: #172554;
  --blue-975: #0e1734;
  /* error */
  --red: #ef4444;
  /* spacing */
  --gap-025: 0.1rem;
  --gap-050: 0.2rem;
  --gap-100: 0.4rem;
  --gap-150: 0.6rem;
  --gap-200: 0.8rem;
  --gap-250: 1.0rem;
  --gap-300: 1.2rem;
  --gap-400: 1.6rem;
  --gap-500: 2.0rem;
  --gap-600: 2.4rem;
  --gap-700: 2.8rem;
  --gap-800: 3.2rem;
  /* other variables */
  --shadow-2: 0 0 5px rgba(0,0,0,0.2);
  --shadow-3: 0 0 5px rgba(0,0,0,0.3);
  --transition-fast: all .1s ease-in-out;
  --transition-med: all .4s ease-in-out;
  --transition-slow: all 1s ease-in-out;
  /* color: white; */
  --font-stack: 'Bebas Neue', 'Helvetica', 'Arial', sans-serif;
  font-family: var(--font-stack);
  line-height: 1.25;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: var(--transition-fast);
}

html, body {
  min-height: 100vh;
}

h1 {
  font-size: 3rem;
  background-color: var(--sky-975);
  /* background-image: radial-gradient(ellipse at bottom, var(--sky-500), var(--sky-975)); */
  background-image: linear-gradient(var(--sky-975) 15%, var(--sky-500));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

header, main {
  margin: auto;
  padding-left: var(--gap-600);
  padding-right: var(--gap-600);
}

header {
  display: grid;
  justify-items: center;
  gap: var(--gap-150) var(--gap-800);
  padding-top: var(--gap-400);
  padding-bottom: var(--gap-400);
  font-family: 'NFL Dolphins', var(--font-stack);
}

main {
  display: grid;
  justify-items: center;
  gap: var(--gap-200);
}

main,
.setup,
.game-over {
  opacity: 1;
  transition: var(--transition-slow);
}

main.hidden,
.setup.hidden,
.game-over.hidden {
  display: none;
}

main.clear,
.setup.clear,
.game-over.clear {
  opacity: 0;
}


/* gameboards */

.gameboard {
  display: grid;
  gap: var(--gap-025);
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  margin-bottom: var(--gap-500);
  width: 100%;
  aspect-ratio: 1 / 1;
}

.cell {
  border: 1px solid black;
  display: grid;
  place-content: center;
}

.over {
  background-color: lightgray;
}

.ai .cell:hover {
  background-color: lightseagreen;
  cursor: crosshair;
}

.ai .hit:hover,
.ai .miss:hover {
  background-color: lightcoral;
  cursor: not-allowed;
}

.ai .ship:hover {
  cursor: not-allowed;
}

.ship {
  background-color: lightblue;
  border: 2px solid blue;
  z-index: 1;
}

.miss::after,
.hit::after {
  content: "";
  border-radius: 16px;
  width: var(--gap-200);
  height: var(--gap-200);
  z-index: 2;
}

.miss::after {
  background-color: black;
}

.hit::after {
  background-color: red;
}


/* setup */

.setup {
  padding: var(--gap-700);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  place-content: center;
  gap: var(--gap-300);
}

.setup > button {
  padding: var(--gap-100);
}

.invalid:hover {
  background-color: lightcoral;
  cursor: not-allowed;
}

.ship-hover {
  background-color: lightgray;
  cursor: pointer;
}


/* game over banner */

.game-over {
  background-color: white;
  box-shadow:
    0 0 0 100vh rgba(0,0,0,0.3),
    0 0 min(15px, 3.5vw) rgba(0,0,0,0.7);
  padding: var(--gap-700);
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: grid;
  gap: var(--gap-300);
  place-items: center;
  z-index: 3;
}